<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {config_load file='css.conf'}
    {config_load file='js.conf'}
    <title>SqlMp -- 3.表操作</title>
    <link rel="stylesheet" href="{#Bootstrap_css_url#}bootstrap.min.css">
    <script src="{#Bootstrap_js_url#}jquery-3.2.1.min.js"></script>
    <script src="{#Bootstrap_js_url#}bootstrap.min.js"></script>
    <script src="{#dialog_js_url#}dialog.js"></script>
    <script src="{#dialog_layer_js_url#}layer.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 style="color:rgb(55,173,217)">MySql命令量产工具
                    <small>
                        <span class="glyphicon glyphicon-oil"></span>
                        帮助开发者快速生成测试数据~~
                    </small>
                </h1>
            </div>
        </div>
        <div class="col-md-12 thumbnail">
            <form action="" role="form">
                <fieldset>
                    <legend class="text-center">3.表操作</legend>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered text-center">
                            <tr class="active">
                                <th class="text-center">表名</th>
                                <th class="text-center">排序规则</th>
                                <th class="text-center">创建日期</th>
                                <th class="text-center">数据长度</th>
                                <th class="text-center">操作</th>
                            </tr>
                            {foreach $array as $v}
                            <tr>
                                <td>{$v.Name}</td>
                                <td>{$v.Collation}</td>
                                <td>{$v.Create_time}</td>
                                <td>{$v.Data_length}</td>
                                <td>
                                    <a class="btn btn-danger" onclick="DelTable('{$v.Name}')">删除</a>
                                    <a class="btn btn-info" onclick="OpenTable('{$v.Name}')">打开</a>
                                    <a class="btn btn-success" onclick="MpTable('{$v.Name}')">量产</a>
                                </td>
                            </tr>
                            {foreachelse}
                            <tr>
                                <td>没有数据</td>
                                <td>没有数据</td>
                                <td>没有数据</td>
                                <td>没有数据</td>
                                <td>无法操作</td>
                            </tr>
                            {/foreach}
                        </table>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script>
    function DelTable(Table) {
        dialog.confirm("危险:你正在试图删除 <code>"+Table+"</code> 表，是否删除？","?ac=DelTable&TableName="+Table);
    }

    function OpenTable(Table) {
        dialog.confirm("提示:你需要打开 <code>"+Table+"</code> 表吗？","?ac=OpenTable&TableName="+Table);
    }

    function MpTable(Table) {
        dialog.confirm("提示:是否要对 <code>"+Table+"</code> 表进行测试数据量产？","?ac=MpTable&TableName="+Table);
    }
</script>
</body>
</html>