<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {config_load file='css.conf'}
    {config_load file='js.conf'}
    <title>SqlMp -- 查看表</title>
    <link rel="stylesheet" href="{#Bootstrap_css_url#}bootstrap.min.css">
    <script src="{#Bootstrap_js_url#}jquery-3.2.1.min.js"></script>
    <script src="{#Bootstrap_js_url#}bootstrap.min.js"></script>
    <script src="{#dialog_js_url#}dialog.js"></script>
    <script src="{#dialog_layer_js_url#}layer.js"></script>
    <style>
        .col-center-block {
            float: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 style="color:rgb(55,173,217)">MySql命令量产工具
                    <small>
                        <span class="glyphicon glyphicon-oil"></span>
                        帮助开发者快速生成测试数据~~
                    </small>
                </h1>
            </div>
        </div>
        `<div class="col-md-12 thumbnail" >
            <form action="" role="form">
                <fieldset>
                    <legend class="text-center"><code>{$TableName}</code>表</legend>
                    <div class="table-responsive pre-scrollable">
                        <table class="table table-hover table-bordered text-center">
                            <tr class="active">
                                {foreach $array as $contact}
                                    {foreach $contact as $key => $value}
                                <th class="text-center">{$key}</th>
                                    {/foreach}
                                {break}
                                {/foreach}
                            </tr>
                            {foreach $array as $contact}
                                <tr class="active">
                                    {foreach $contact as $key => $value}
                                      <td class="text-center">{$value}</td>
                                    {/foreach}
                                </tr>
                            {/foreach}
                        </table>
                    </div>
                </fieldset>
            </form>
        </div>
        <nav class="col-xs-6 col-md-4 col-center-block">
            <ul class="pager">
                <li><a href="#">上一页</a></li>
                <li><a href="#"> 第 <cite>1</cite> 页 @ 共 <cite>10</cite> 页 </a></li>
                <li><a href="#">下一页</a></li>
            </ul>
        </nav>
    </div>
</div>
<script>
    function DelTable(Table) {
        dialog.confirm("危险:你正在试图删除 <code>"+Table+"</code> 表，是否删除？","?ac=DelTable&TableName="+Table);
    }

    function OpenTable(Table) {
        dialog.confirm("提示:你需要打开 <code>"+Table+"</code> 表吗？","?ac=OpenTable&TableName="+Table);
    }

    function MpTable(Table) {
        dialog.confirm("提示:是否要对 <code>"+Table+"</code> 表进行测试数据量产？","");
    }
</script>
</body>
</html>